@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.style{
  font-family: 'Rubik Maps', system-ui;
  
}
.rubik{
  font-family: 'Rubik Glitch', system-ui;
}
.genos{
  font-family: 'Genos', sans-serif;
}
